In [1]:
import pandas as pd
import sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("../DataSets/institutions_with_course_name.csv")

In [3]:
df.head()

,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,"BA Public Services with Integrated MA program combines undergraduate and postgraduate studies in public services, covering areas like public administration, policy analysis, law, and management. Students gain in-depth knowledge and skills necessary for careers in government agencies, non-profit organizations, international development, and public policy research, focusing on addressing societal challenges and shaping public service delivery at local, national, and international levels.",Bachelor of Arts,B.A,Arts,Public Services with Integrated MA
0,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,Bachelor of Commerce (BCom) in Finance is a pr...,Bachelor of Commerce,B.Com,Commerce,Finance
1,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,B.Tech (Bachelor of Technology) program in Com...,Bachelor of Technology,B.Tech,Engineering,Computer Science and Engineering (Business Sys...
2,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,Bachelor of Technology (B.Tech) in Computer Sc...,Bachelor of Technology,B.Tech,Engineering,Computer Science and Engineering
3,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,B.Tech in Computer Science and Engineering (Sp...,Bachelor of Technology,B.Tech,Engineering,Computer Science and Engineering (Specializati...
4,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,B.Tech in Computer Science and Engineering wit...,Bachelor of Technology,B.Tech,Engineering,Computer Science and Engineering (Specializati...

In [4]:
df.columns = ["id","institution_name","institution_type","state","district","course_description","degree_description","degree_name","stream_name","course_name"]

In [5]:
df.head()

,id,institution_name,institution_type,state,district,course_description,degree_description,degree_name,stream_name,course_name
0,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,Bachelor of Commerce (BCom) in Finance is a pr...,Bachelor of Commerce,B.Com,Commerce,Finance
1,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,B.Tech (Bachelor of Technology) program in Com...,Bachelor of Technology,B.Tech,Engineering,Computer Science and Engineering (Business Sys...
2,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,Bachelor of Technology (B.Tech) in Computer Sc...,Bachelor of Technology,B.Tech,Engineering,Computer Science and Engineering
3,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,B.Tech in Computer Science and Engineering (Sp...,Bachelor of Technology,B.Tech,Engineering,Computer Science and Engineering (Specializati...
4,20,Vellore Institute of Technology,\N,Andhra Pradesh,Guntur,B.Tech in Computer Science and Engineering wit...,Bachelor of Technology,B.Tech,Engineering,Computer Science and Engineering (Specializati...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25295 entries, 0 to 25294
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  25295 non-null  int64
 1   institution_name    25295 non-null  object
 2   institution_type    25295 non-null  object
 3   state               25295 non-null  object
 4   district            25295 non-null  object
 5   course_description  25284 non-null  object
 6   degree_description  25295 non-null  object
 7   degree_name         25295 non-null  object
 8   stream_name         25295 non-null  object
 9   course_name         25295 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.9+ MB

In [7]:
df.isnull().sum()

id                     0
institution_name       0
institution_type       0
state                  0
district               0
course_description    11
degree_description     0
degree_name            0
stream_name            0
course_name            0
dtype: int64

In [8]:
def dataset_info():
    print("Dataset Info:")
    print(df.info())
    print("\nMissing Values:")
    print(df.isnull().sum())
    print("\nUnique Counts:")
    print(f"Institutions: {df['institution_name'].nunique()}")
    print(f"States: {df['state'].nunique()}")
    print(f"districts: {df['district'].nunique()}")

dataset_info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25295 entries, 0 to 25294
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  25295 non-null  int64
 1   institution_name    25295 non-null  object
 2   institution_type    25295 non-null  object
 3   state               25295 non-null  object
 4   district            25295 non-null  object
 5   course_description  25284 non-null  object
 6   degree_description  25295 non-null  object
 7   degree_name         25295 non-null  object
 8   stream_name         25295 non-null  object
 9   course_name         25295 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.9+ MB
None

Missing Values:
id                     0
institution_name       0
institution_type       0
state                  0
district               0
course_description    11
degree_description     0
degree_name            0
stream_name            0
course_name            0
dtype: int64

Unique Counts:
Institutions: 3376
States: 27
districts: 208

In [9]:
course_df = df[["id","course_name","course_description","degree_description","degree_name","stream_name"]]
 
 
course_df

,id,course_name,course_description,degree_description,degree_name,stream_name
0,20,Finance,Bachelor of Commerce (BCom) in Finance is a pr...,Bachelor of Commerce,B.Com,Commerce
1,20,Computer Science and Engineering (Business Sys...,B.Tech (Bachelor of Technology) program in Com...,Bachelor of Technology,B.Tech,Engineering
2,20,Computer Science and Engineering,Bachelor of Technology (B.Tech) in Computer Sc...,Bachelor of Technology,B.Tech,Engineering
3,20,Computer Science and Engineering (Specializati...,B.Tech in Computer Science and Engineering (Sp...,Bachelor of Technology,B.Tech,Engineering
4,20,Computer Science and Engineering (Specializati...,B.Tech in Computer Science and Engineering wit...,Bachelor of Technology,B.Tech,Engineering
...,...,...,...,...,...,...
25290,3468,Visual Effects,BSC in Visual Effects focuses on digital anima...,Bachelor of Science (3years) - B.Sc,B.Sc,Science
25291,3503,Fashion Design,Bachelor of Design (BDes) in Fashion Design pr...,Bachelor of Design,B.Des,Design
25292,3503,Footwear Designs and Productions,Bachelor of Design (BDes) in Footwear Design a...,Bachelor of Design,B.Des,Design
25293,3503,"Leather, Lifestyle and Product Design","Bachelor of Design (BDes) in Leather, Lifestyl...",Bachelor of Design,B.Des,Design
25294,3503,Retail and Fashion Merchandise,Bachelor of Business Administration (BBA) in R...,Bachelor of Business Administration,BBA,Management

In [10]:
course_df.head()

,id,course_name,course_description,degree_description,degree_name,stream_name
0,20,Finance,Bachelor of Commerce (BCom) in Finance is a pr...,Bachelor of Commerce,B.Com,Commerce
1,20,Computer Science and Engineering (Business Sys...,B.Tech (Bachelor of Technology) program in Com...,Bachelor of Technology,B.Tech,Engineering
2,20,Computer Science and Engineering,Bachelor of Technology (B.Tech) in Computer Sc...,Bachelor of Technology,B.Tech,Engineering
3,20,Computer Science and Engineering (Specializati...,B.Tech in Computer Science and Engineering (Sp...,Bachelor of Technology,B.Tech,Engineering
4,20,Computer Science and Engineering (Specializati...,B.Tech in Computer Science and Engineering wit...,Bachelor of Technology,B.Tech,Engineering

In [11]:
def concat_series(series):
    return ', '.join(sorted(set(series.dropna().astype(str).str.strip())))

In [12]:
df["course_description"].isna().sum()

np.int64(11)

In [13]:
df_grouped = df.groupby(["id","course_name"]).agg({
        "course_description":concat_series,
        "degree_description":concat_series,
        "degree_name":concat_series,
        "stream_name":concat_series,
    })

In [14]:
df_grouped["degree_name"].iloc[0]

'B.Com'

In [15]:
df_grouped = df_grouped.reset_index()

In [16]:
df_grouped[["degree_name","degree_description","course_name", "stream_name"]].loc[0]

degree_name                            B.Com
degree_description      Bachelor of Commerce
course_name           Accounting and Finance
stream_name                         Commerce
Name: 0, dtype: object

In [17]:
df_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24781 entries, 0 to 24780
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  24781 non-null  int64
 1   course_name         24781 non-null  object
 2   course_description  24781 non-null  object
 3   degree_description  24781 non-null  object
 4   degree_name         24781 non-null  object
 5   stream_name         24781 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.1+ MB

In [18]:
df_grouped.columns = ["id","course_names","all_course_descriptions","all_degree_descriptions","all_stream_names","all_degree_names"]

In [19]:
df_grouped.head()

,id,course_names,all_course_descriptions,all_degree_descriptions,all_stream_names,all_degree_names
0,1,Accounting and Finance,Bachelor of Commerce (BCom) degree with a focu...,Bachelor of Commerce,B.Com,Commerce
1,1,Biochemistry,Bachelor of Science (BSc) in Biochemistry prov...,Bachelor of Science (3years) - B.Sc,B.Sc,Science
2,1,Business Administration,Bachelor of Business Administration (BBA) in B...,Bachelor of Business Administration,BBA,Management
3,1,Computer Applications,Bachelor of Commerce (BCom) program with a spe...,"Bachelor of Commerce, Bachelor of Computer App...","B.Com, BCA","Commerce, Science"
4,1,Computer Science,Bachelor of Science (BSc) in Computer Science ...,Bachelor of Science (3years) - B.Sc,B.Sc,Science

In [20]:
df_grouped.to_csv("../DataSets/processed/course_content_based_data_after_eda.csv",sep=";",header=True,index=False)