In [10]:
import torch
from sentence_transformers import SentenceTransformer
import pandas as pd
import json

## Load data Set

In [11]:
df = pd.read_csv("../DataSets/processed/course_content_based_data_after_eda.csv",sep=";",header=0)

In [12]:
df.head()

,id,course_names,all_course_descriptions,all_degree_descriptions,all_stream_names,all_degree_names
0,1,Accounting and Finance,Bachelor of Commerce (BCom) degree with a focu...,Bachelor of Commerce,B.Com,Commerce
1,1,Biochemistry,Bachelor of Science (BSc) in Biochemistry prov...,Bachelor of Science (3years) - B.Sc,B.Sc,Science
2,1,Business Administration,Bachelor of Business Administration (BBA) in B...,Bachelor of Business Administration,BBA,Management
3,1,Computer Applications,Bachelor of Commerce (BCom) program with a spe...,"Bachelor of Commerce, Bachelor of Computer App...","B.Com, BCA","Commerce, Science"
4,1,Computer Science,Bachelor of Science (BSc) in Computer Science ...,Bachelor of Science (3years) - B.Sc,B.Sc,Science

Load model for embedding

In [13]:
model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [14]:
df.head()

,id,course_names,all_course_descriptions,all_degree_descriptions,all_stream_names,all_degree_names
0,1,Accounting and Finance,Bachelor of Commerce (BCom) degree with a focu...,Bachelor of Commerce,B.Com,Commerce
1,1,Biochemistry,Bachelor of Science (BSc) in Biochemistry prov...,Bachelor of Science (3years) - B.Sc,B.Sc,Science
2,1,Business Administration,Bachelor of Business Administration (BBA) in B...,Bachelor of Business Administration,BBA,Management
3,1,Computer Applications,Bachelor of Commerce (BCom) program with a spe...,"Bachelor of Commerce, Bachelor of Computer App...","B.Com, BCA","Commerce, Science"
4,1,Computer Science,Bachelor of Science (BSc) in Computer Science ...,Bachelor of Science (3years) - B.Sc,B.Sc,Science

In [16]:
df["combined_text"] = df[
    ["all_course_descriptions", "all_degree_descriptions", "all_degree_names", 
     "all_stream_names", "course_names"]
].astype(str).agg(" ".join, axis=1)

In [17]:
df.head()

,id,course_names,all_course_descriptions,all_degree_descriptions,all_stream_names,all_degree_names,combined_text
0,1,Accounting and Finance,Bachelor of Commerce (BCom) degree with a focu...,Bachelor of Commerce,B.Com,Commerce,Bachelor of Commerce (BCom) degree with a focu...
1,1,Biochemistry,Bachelor of Science (BSc) in Biochemistry prov...,Bachelor of Science (3years) - B.Sc,B.Sc,Science,Bachelor of Science (BSc) in Biochemistry prov...
2,1,Business Administration,Bachelor of Business Administration (BBA) in B...,Bachelor of Business Administration,BBA,Management,Bachelor of Business Administration (BBA) in B...
3,1,Computer Applications,Bachelor of Commerce (BCom) program with a spe...,"Bachelor of Commerce, Bachelor of Computer App...","B.Com, BCA","Commerce, Science",Bachelor of Commerce (BCom) program with a spe...
4,1,Computer Science,Bachelor of Science (BSc) in Computer Science ...,Bachelor of Science (3years) - B.Sc,B.Sc,Science,Bachelor of Science (BSc) in Computer Science ...

In [18]:
df["embeddings"] = df["combined_text"].apply(lambda x: model.encode(x))

In [19]:
df.head()

,id,course_names,all_course_descriptions,all_degree_descriptions,all_stream_names,all_degree_names,combined_text,embeddings
0,1,Accounting and Finance,Bachelor of Commerce (BCom) degree with a focu...,Bachelor of Commerce,B.Com,Commerce,Bachelor of Commerce (BCom) degree with a focu...,"[0.033324674, -0.016426336, -0.029388169, 0.01..."
1,1,Biochemistry,Bachelor of Science (BSc) in Biochemistry prov...,Bachelor of Science (3years) - B.Sc,B.Sc,Science,Bachelor of Science (BSc) in Biochemistry prov...,"[-0.01446326, -0.04142021, -0.0075232307, -0.0..."
2,1,Business Administration,Bachelor of Business Administration (BBA) in B...,Bachelor of Business Administration,BBA,Management,Bachelor of Business Administration (BBA) in B...,"[0.0011665305, 0.009015992, -0.059599865, 0.01..."
3,1,Computer Applications,Bachelor of Commerce (BCom) program with a spe...,"Bachelor of Commerce, Bachelor of Computer App...","B.Com, BCA","Commerce, Science",Bachelor of Commerce (BCom) program with a spe...,"[-0.026285402, 0.025389861, -0.021110298, -0.0..."
4,1,Computer Science,Bachelor of Science (BSc) in Computer Science ...,Bachelor of Science (3years) - B.Sc,B.Sc,Science,Bachelor of Science (BSc) in Computer Science ...,"[-0.053831447, 0.031099506, -0.033642635, -0.0..."

In [20]:
df["embeddings"] = df["embeddings"].apply(lambda x: ",".join(map(str, x)))

In [21]:
df.to_csv("../DataSets/processed/courses_content_based_data_after_eda_after_embedding.csv",index=False,sep=";")